/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
  }
  body {
    background-color:rgb(247, 245, 228);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }

  .LEC {
    background-color: #ff6961;
  }
  
  .LAB {
    background-color: #AEC6CF;
  }
  
  .TUT {
    background-color: #77dd77;
  }